USE [master]
GO
/****** Object:  Database [QUANLYNHAHANG]    Script Date: 12/20/2020 2:09:23 PM ******/
CREATE DATABASE [QUANLYNHAHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYNHAHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QUANLYNHAHANG.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QUANLYNHAHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\QUANLYNHAHANG_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYNHAHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYNHAHANG]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [nvarchar](100) NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NOT NULL DEFAULT (N'Qui'),
	[PASSWORD] [nvarchar](100) NOT NULL DEFAULT ((0)),
	[TYPE] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BILL]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATECHECKIN] [date] NOT NULL DEFAULT (getdate()),
	[DATECHECKOUT] [date] NULL,
	[IDTABLE] [int] NOT NULL,
	[status] [int] NOT NULL DEFAULT ((0)),
	[discount] [int] NULL,
	[totalPrice] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BILLINFO]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLINFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IDBILL] [int] NOT NULL,
	[IDFOOD] [int] NOT NULL,
	[COUNT] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FOOD]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL DEFAULT (N'Chưa đặt tên'),
	[IDCATEGORY] [int] NOT NULL,
	[PRICE] [float] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FOODCATEGORY]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOODCATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL DEFAULT (N'Chưa đặt tên'),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABLEFOOD]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLEFOOD](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL DEFAULT (N'Bàn chưa có tên'),
	[status] [nvarchar](100) NOT NULL DEFAULT (N'Trống'),
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPE]) VALUES (N'quipro', N'phuqui', N'quipro1245', 1)
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPE]) VALUES (N'tricui', N'tricui', N'tricui', 0)
SET IDENTITY_INSERT [dbo].[BILL] ON 

INSERT [dbo].[BILL] ([ID], [DATECHECKIN], [DATECHECKOUT], [IDTABLE], [status], [discount], [totalPrice]) VALUES (114, CAST(N'2020-12-19' AS Date), CAST(N'2020-12-19' AS Date), 2, 1, 1, 14850)
INSERT [dbo].[BILL] ([ID], [DATECHECKIN], [DATECHECKOUT], [IDTABLE], [status], [discount], [totalPrice]) VALUES (115, CAST(N'2020-12-19' AS Date), CAST(N'2020-12-19' AS Date), 1, 1, 1, 14850)
INSERT [dbo].[BILL] ([ID], [DATECHECKIN], [DATECHECKOUT], [IDTABLE], [status], [discount], [totalPrice]) VALUES (116, CAST(N'2020-12-19' AS Date), CAST(N'2020-12-19' AS Date), 5, 1, 1, 747450)
SET IDENTITY_INSERT [dbo].[BILL] OFF
SET IDENTITY_INSERT [dbo].[BILLINFO] ON 

INSERT [dbo].[BILLINFO] ([ID], [IDBILL], [IDFOOD], [COUNT]) VALUES (116, 114, 29, 2)
INSERT [dbo].[BILLINFO] ([ID], [IDBILL], [IDFOOD], [COUNT]) VALUES (117, 115, 29, 2)
INSERT [dbo].[BILLINFO] ([ID], [IDBILL], [IDFOOD], [COUNT]) VALUES (118, 116, 29, 2)
SET IDENTITY_INSERT [dbo].[BILLINFO] OFF
SET IDENTITY_INSERT [dbo].[FOOD] ON 

INSERT [dbo].[FOOD] ([ID], [NAME], [IDCATEGORY], [PRICE]) VALUES (29, N'Súp cá hồi', 6, 15000)
INSERT [dbo].[FOOD] ([ID], [NAME], [IDCATEGORY], [PRICE]) VALUES (30, N'Gỏi cá hồi', 6, 250000)
INSERT [dbo].[FOOD] ([ID], [NAME], [IDCATEGORY], [PRICE]) VALUES (31, N'Cháo cá hồi', 6, 50000)
SET IDENTITY_INSERT [dbo].[FOOD] OFF
SET IDENTITY_INSERT [dbo].[FOODCATEGORY] ON 

INSERT [dbo].[FOODCATEGORY] ([ID], [NAME]) VALUES (6, N'Cá hồi')
INSERT [dbo].[FOODCATEGORY] ([ID], [NAME]) VALUES (7, N'Cá quả')
INSERT [dbo].[FOODCATEGORY] ([ID], [NAME]) VALUES (8, N'Lẩu các loại')
SET IDENTITY_INSERT [dbo].[FOODCATEGORY] OFF
SET IDENTITY_INSERT [dbo].[TABLEFOOD] ON 

INSERT [dbo].[TABLEFOOD] ([ID], [NAME], [status]) VALUES (1, N'Bàn 1', N'Đã đặt')
INSERT [dbo].[TABLEFOOD] ([ID], [NAME], [status]) VALUES (2, N'Bàn 2', N'Trống')
INSERT [dbo].[TABLEFOOD] ([ID], [NAME], [status]) VALUES (3, N'Bàn 3', N'Đã đặt')
SET IDENTITY_INSERT [dbo].[TABLEFOOD] OFF
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([IDTABLE])
REFERENCES [dbo].[TABLEFOOD] ([ID])
GO
ALTER TABLE [dbo].[BILLINFO]  WITH CHECK ADD FOREIGN KEY([IDBILL])
REFERENCES [dbo].[BILL] ([ID])
GO
ALTER TABLE [dbo].[BILLINFO]  WITH CHECK ADD FOREIGN KEY([IDFOOD])
REFERENCES [dbo].[FOOD] ([ID])
GO
ALTER TABLE [dbo].[FOOD]  WITH CHECK ADD FOREIGN KEY([IDCATEGORY])
REFERENCES [dbo].[FOODCATEGORY] ([ID])
GO
/****** Object:  StoredProcedure [dbo].[USP_GetAcountByUserName]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[USP_GetAcountByUserName]
 @userName nvarchar(100)
 as
 begin
	SELECT * FROM dbo.ACCOUNT WHERE USERNAME = @userName
end

GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableList]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetTableList]
	AS SELECT*FROM dbo.TABLEFOOD

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBill]
@idTable INT
AS
BEGIN
	INSERT dbo.BILL(DATECHECKIN,DATECHECKOUT,IDTABLE,status,discount)
	VALUES (GETDATE(),null,@idTable,0,0)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertBillInfo]
@idBill INT,@idFood int, @count int
AS
BEGIN
	DECLARE @isExitsBillInfo int
	DECLARE @foodCount int =1
	SELECT @isExitsBillInfo = id,@foodCount=b.COUNT FROM dbo.BILLINFO as b Where IDBILL =@idBill AND IDFOOD =@idFood 
	IF(@isExitsBillInfo>0)
	BEGIN
		DECLARE @newCount int = @foodCount + @count
		IF(@newCount>0)
			UPDATE dbo.BILLINFO SET count=@foodCount+@count Where IDFOOD = @idFood
		ELSE
			DELETE dbo.BILLINFO WHERE idBill = @idBill And IDFOOD = @idFood
	END
	ELSE
	BEGIN
		INSERT dbo.BILLINFO(IDBILL,IDFOOD,COUNT)
		VALUES(@idBill,@idFood,@count)
	END
END

GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_Login]
 @userName nvarchar(100),@passWord nvarchar(100)
 as
 begin	
		SELECT*FROM dbo.ACCOUNT WHERE USERNAME = @userName AND PASSWORD = @passWord
end

GO
/****** Object:  StoredProcedure [dbo].[USP_SwitchTable]    Script Date: 12/20/2020 2:09:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[USP_SwitchTable]
@idTable1 INT, @idTable2 INT
AS BEGIN
	DECLARE @idFirstBill INT
	DECLARE @idSecondBill INT

	DECLARE @idFirstTableEmty int =1
	DECLARE @idSecondTableEmty int =1
	
	SELECT @idSecondBill FROM dbo.BILL WHERE IDTABLE= @idTable2 AND status =0
	SELECT @idFirstBill FROM dbo.BILL WHERE IDTABLE= @idTable1 AND status =0
	PRINT @idFirstBill
	PRINT @idSecondBill
	PRINT '--------------'
	IF(@idFirstBill IS null)
	BEGIN
	PRINT '--------------1'
		INSERT dbo.BILL(DATECHECKIN,DATECHECKOUT,IDTABLE,status)
VALUES(GETDATE(),null,@idTable1,0)
		SELECT @idFirstBill = MAX(id) FROM dbo.BILL WHERE IDTABLE= @idTable1 AND status =0
		
	END
	SELECT  @idFirstTableEmty = COUNT(*) FROM dbo.BILLINFO WHERE idBill = @idFirstBill
	IF(@idSecondBill IS null)
	BEGIN
	PRINT '--------------2'
		INSERT dbo.BILL(DATECHECKIN,DATECHECKOUT,IDTABLE,status)
VALUES(GETDATE(),null,@idTable2,0)
		SELECT @idSecondBill = MAX(id) FROM dbo.BILL WHERE IDTABLE= @idTable2 AND status =0
		
	END
	SELECT  @idSecondBill = COUNT(*) FROM dbo.BILLINFO WHERE idBill = @idSecondBill
	
	SELECT id INTO IDBillInfoTable FROM dbo.BILLINFO WHERE IDBILL = @idSecondBill
	UPDATE dbo.BILLINFO SET IDBILL = @idSecondBill WHERE idBill = @idFirstBill
	UPDATE dbo.BILLINFO SET idBill = @idFirstBill WHERE id IN (SELECT * FROM IDBillInfoTable)

	DROP TABLE IDBillInfoTable 
	IF(@idFirstTableEmty =0)
		UPDATE dbo.TABLEFOOD SET status = N'Trống' WHERE id = @idTable2
	IF(@idSecondTableEmty=0)
		UPDATE dbo.TABLEFOOD SET status = N'Trống' WHERE id = @idTable1
END

GO
USE [master]
GO
